body{
    font-family:Arial;
    padding:20px;
    background-color:#b1ddff;
}

h1{
    color:#333;
    text-align:center;
}

.intro{
    color: red;
    font-size: 16px;
    background-color:#e8f5e9;
    padding: 10px;
    margin:20px 0;
}

#main{
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border: 2px solid black;
}

#main p{
    color:blue;
}

a{
    color:#1a73e8;
    text-decoration: none;
    font-size: 18px;
}

a:hover{
    font-weight:bold;
    color:red;
}

li:first-child{
    font-weight:bold;
    color:orange;
}

h1, h2{
    font-family: Georgia;
}