body{
    background-color:#f0f0f0;
    font-family:Arial,sans-serif;
    margin:0;
    padding:20px;
}
h1{
    color:#333;
    text-align:center;
    font-size:32px;
}
.intro{
    color:#2c3e50;
    font-size:20px;
    line-height: 1.6;
}
.box{
    
}